body {
	font-size: 12pt;
	color: black;
	text-align: justify;
	background-image: url("concrete_seamless.png")
}

h1{
	font-size: 24pt;
	color: black;
	text-align: center;
}

img.resize{
   max-width:50%;
   max-height:50%;
}